<html lang="en">
  <%- include("./common/head.ejs") %>
  <body>
    <%- include("./common/nav.ejs") %>

    <div class="not-found content">
      OOPS, page not found :)
    </div>
  </body>
  <%- include("./common/footer.ejs") %>
</html>