<html lang="en">
  <%- include("./common/head.ejs") %>
  <body>
    <%- include("./common/nav.ejs") %>

    <div class="about content">
      <h2>About Us</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis deleniti facilis veniam, itaque sapiente, reiciendis at a labore, rerum voluptates suscipit enim vero architecto sed debitis. Saepe id delectus consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis deleniti facilis veniam, itaque sapiente, reiciendis at a labore, rerum voluptates suscipit enim vero architecto sed debitis. Saepe id delectus consequuntur?</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis deleniti facilis veniam, itaque sapiente, reiciendis at a labore, rerum voluptates suscipit enim vero architecto sed debitis. Saepe id delectus consequuntur?</p>
    </div>
  </body>
  <%- include("./common/footer.ejs") %>
</html>